.Logo {
  line-height: 21px;
  padding: 3px 0px 24px;
}

.Container{
  text-align: center;
}

h1 {
  font-family: -apple-system;
  font-size: 24px;
  font-weight: 300;
  letter-spacing: -0.5px;
  line-height: 36px;
  text-align: center;
}

.main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background-color: antiquewhite;
  border-radius: 10px;
  margin-top: 10px;
}

.main form {
  padding: 0 40px;
  box-sizing: border-box;
}

form.txt_field {
  position: relative;
  border-bottom: 2px solid #adadad;
  margin: 30px 0;
}

.txt_field input {
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;

}
.txt_field label {
  color:#24292f;
 font-family:-apple-system;
font-size:14px;
line-height:21px;
margin: 0px 0px 8px;
display: inline-block;
text-align:left;
}


input[type = "submit"] {
  width: 100%;
  height: 50px;
  border: 1px solid;
  background: #2691d9;
  border-radius: 25px;
  font-size: 18px;
  color: aqua;
  font-weight: 700;
  cursor: pointer;
  outline: none;
}

.signup_link {
  margin: 30px 0;
  text-align: center;
  font-size: 16px;
  color: #666666;
}
.signup_link a {
  color: #2691d9;
  text-decoration: none;
}
.signup_link a {
  text-decoration: underline;
}
  